FastFood_BaseLine/OnLearningTheKernel
FastFood_BaseLine/structured_nets
fast_hadamard_transform/
fast_hadamard_transform.egg-info/
hadamard_transform/
data/
build/
tests/results
*.egg-info
__pycache__
*.pyc
